.prime-video {
  background-color: #000000;
  min-height: 100vh;
}

.image {
  height: 30vh;
  width: 100%;
  margin-bottom: 16px;
}
.movie-heading {
  color: #ffffff;
}
.slider-bg {
  color: #ffffff;
  padding: 0 60px;
  margin-bottom: 16px;
}
.sliders-con {
  padding: 0 0 16px 0;
}
